<h1>This is a source page</h1>
<p>
  <%= link_to(
          'A link without data-confirm attribute',
          target_page_path,
          class: 'without-data-confirm'
      ) %>
</p>
<p>
  <%= link_to(
          'A link with data-confirm attribute',
          target_page_path,
          class:          'with-data-confirm',
          'data-confirm': 'a correct confirmation text'
      ) %>
</p>
<p>
  <%= link_to(
          'A link with data-confirm and data-maac-* attributes',
          target_page_path,
          class: 'with-customized-confirm',
          data:  {
              confirm:         'a correct confirmation text',
              'confirm-title': 'Localized title',
              'confirm-yes':   'Localized yes',
              'confirm-no':    'Localized no',
              'confirm-close': 'Localized close'
          }
      ) %>
</p>
